body, a, img, input,h1,h2,h3,h4,div{
    -webkit-transition: all 0.4s ease;
       -moz-transition: all 0.4s ease;
         -o-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
            transition: all 0.4s ease;
  }.floatleft { float: left }
  .floatright { float: right }
  .alignleft {
      float: left;
      margin-right: 15px;
  }
  .alignright {
      float: right;
      margin-left: 15px;
  }
  .aligncenter {
      display: block;
      margin: 0 auto 15px;
  }
  a:focus { outline: 0px solid }
  img {
      max-width: 100%;
      height: auto;
  }
  .fix { overflow: hidden }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-weight: 700;
      margin: 0 0 15px;
  }
  body { font-family: 'Titillium Web', sans-serif; }
  
  
  
  .header-area {
      background: none repeat scroll 0 0 #f4f4f4;
  }
  .header-area a {
      color: #888;
  }
  .user-menu ul {
      list-style: outside none none;
      margin: 0;
      padding: 0;
  }
  .user-menu li {
      display: inline-block;
  }
  .user-menu li a {
      display: block;
      font-size: 13px;
      margin-right: 5px;
      padding: 10px;
  }
  .user-menu li a i.fa {
      margin-right: 5px;
  }
  .header-right ul.list-inline {
      margin: 0;
      text-align: right;
  }
  .header-right ul.list-inline li a {
      display: block;
      padding: 9px;
  }
  .header-right ul.list-inline li ul a {
      padding: 5px 15px;
  }
  .header-right ul.list-inline li ul {
      border: medium none;
      border-radius: 0;
      left: 50%;
      margin-left: -50px;
      min-width: 100px;
      text-align: center;
  }
  
  .mainmenu-area {
      background: none repeat scroll 0 0 #1193cf;
      font-family: "Roboto Condensed",sans-serif;
      text-transform: uppercase;   
      width: 100%;
      z-index: 999;
      -webkit-box-shadow: 0px 13px 54px -13px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 13px 54px -13px rgba(0,0,0,0.5);
      box-shadow: 0px 13px 54px -13px rgba(0,0,0,0.5);
  }
  
  .logo h1 {
      font-size: 40px;
      margin: 40px 0;font-weight: 400;
  }
  .logo h1 a {
      color: #999;
  }
  .logo h1 a:hover {text-decoration: none;opacity: .7}
  .logo h1 a span {
      color: #1193cf;
  }
  .shopping-item {
      border: 1px solid #ddd;
      float: right;
      font-size: 18px;
      margin-top: 40px;
      padding: 10px;
      position: relative;
  }
  .shopping-item a {
      color: #666;
  }
  .cart-amunt {
      color: #1193cf;
      font-weight: 700;
  }
  .product-count {
      background: none repeat scroll 0 0 #1193cf;
      border-radius: 50%;
      color: #fff;
      display: inline-block;
      font-size: 10px;
      height: 20px;
      padding-top: 2px;
      position: absolute;
      right: -10px;
      text-align: center;
      top: -10px;
      width: 20px;
  }
  .shopping-item i.fa {
      margin-left: 15px;
  }
  
  
  .shopping-item:hover {
      background: none repeat scroll 0 0 #1193cf;
      border-color: #1193cf;
  }
  .shopping-item:hover a {
      color: #fff;text-decoration: none
  }
  .shopping-item:hover .cart-amunt {
      color: #fff;
  }
  .shopping-item:hover .product-count {
      background: none repeat scroll 0 0 #000;
  }
  
  
  .mainmenu-area ul.navbar-nav li a {
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      padding: 20px;
  }
  
  .mainmenu-area ul.navbar-nav li:hover a, .mainmenu-area ul.navbar-nav li.active a {background: #222}
  .mainmenu-area .nav > li > a:focus {color: #000}
  
  .slider-area {clear: both}
  .slider-area, .promo-area, .brands-area, .maincontent-area, .footer-top-area, .product-widget-area, .product-breadcroumb-area, .single-product-area {position: relative;overflow: hidden}
  .zigzag-bottom {}
  .slide-text-wrapper {
    height: 700px;
  }
  .slide-text-wrapper {
    display: table;width: 100%;
  }
  
  .slide-text {display: table-cell;vertical-align: middle}
  
  .zigzag-bottom {
  background: none repeat scroll 0 0 #1193cf;
  bottom: -80px;
  height: 165px;
  left: -5%;
  position: absolute;
  transform: rotate(3deg);
  width: 108%;
  z-index: 9;
  }
  
  .slide-bg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;background-position: center;background-size: cover
  }
  .slide-bg:after {
    background: none repeat scroll 0 0 #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .slide-one {background-image: url(../img/fondo/slide-1.jpg)}
  .slide-two {background-image: url(../img/fondo/slide-2.jpg)}
  .slide-three {background-image: url(../img/fondo/slide-3.jpg)}
  .slide-four {background-image: url(../img/fondo/slide-4.jpg)}
  .slide-text {color: #fff;font-size: 18px;font-weight: 200}
  .slide-text h2 {
    font-size: 45px;font-weight: 200
  }
  
  .slide-content {position: relative;z-index: 9;padding: 30px}
  .slide-content:before {
    background: none repeat scroll 0 0 #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  
  
  .readmore {
      background: none repeat scroll 0 0 #1193cf;
      color: #fff;
      border: 1px solid #1193cf;
      display: inline-block;
      font-size: 20px;
      margin-top: 15px;
      padding: 10px 20px;
      text-transform: uppercase;
  }
  
  
  .readmore:hover {background: #222;text-decoration: none;color: #fff;border: 1px solid #fff}
  
  
  .promo-area {
    background: none repeat scroll 0 0 #1193cf;
    color: #fff;
    padding: 77px 0 200px;
  }
  
  .brands-area {
    background: none repeat scroll 0 0 #1193cf;
    color: #fff;
    padding: 0px 0 200px;
  }
  
  .promo-area .zigzag-bottom, .brands-area .zigzag-bottom{background: #fff}
  .single-promo {
      border: 1px solid #0737a0;
      font-size: 25px;
      font-weight: 200;
      padding: 20px 10px;
      text-align: center;
  }
  .single-promo i {
    font-size: 50px;
  }
  
  .single-promo:hover {color: #fff;background: #222;border-color: #222}
  
  .section-title {
    font-family: "Raleway",sans-serif;
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 50px;
    text-align: center;
  }
  
  
  .product-f-image {
      position: relative;
  }
  .product-hover {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;overflow: hidden;border: 1px solid #ddd;
  }
  .product-hover:after {
    background: none repeat scroll 0 0 #000;
    content: "";
    height: 100%;
    left: -100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;transition: .4s;
  }
  .product-hover a {
      background: none repeat scroll 0 0 #1193cf;
      border-radius: 5px;
      color: #fff;
      display: block;
      font-size: 16px;
      left: 10%;
      margin: 0;
      padding: 10px;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      border: 1px solid #1193cf;
      width: 80%;z-index: 99;transition: .4s;
  }
  .product-hover a:hover {
    background: #000;
    text-decoration: none;border-color: #444;
  }
  .product-carousel-price ins {
    color: #1193cf;
    font-weight: 700;
    margin-right: 5px;
    text-decoration: none;
  }
  .product-hover a i.fa {
      margin-right: 5px;
  }
  .product-hover a.add-to-cart-link {top: -25%;}
  .product-hover a.view-details-link { bottom: -25%;}
  .single-product h2 {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 10px;
      margin-top: 15px;
  }
  
  
  .single-product h2 a {
      color: #222;
  }
  .single-product p {
      color: #1193cf;
      font-weight: 700;
  }
  
  .single-product {
    overflow: hidden;
  }
  .single-product:hover {}
  .single-product:hover .product-hover a.add-to-cart-link {top: 32%;}
  .single-product:hover .product-hover a.view-details-link {bottom: 32%;}
  .single-product:hover .product-hover:after{left: 0}
  
  
  .product-carousel {
    padding-top: 40px;
  }
  .latest-product .owl-nav {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .latest-product .owl-nav div, .related-products-wrapper .owl-nav div {
    border: 1px solid #1193cf;
    color: #1193cf;
    display: inline-block;
    margin-left: 15px;
    padding: 1px 10px;
  }
  .latest-product .owl-nav div:hover, .brand-wrapper .owl-nav div:hover, .related-products-wrapper .owl-nav div:hover {color: #222;border-color: #222}
  .brand-list {padding-top: 40px;}
  .brand-list .owl-nav {
    position: absolute;
    right: 0;
    top: 0;
  }
  .brand-wrapper .owl-nav div {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    margin-left: 15px;
    padding: 1px 10px;
  }
  
  .maincontent-area {padding-bottom: 170px}
  
  .product-wid-title {
    font-family: raleway;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 40px;
  }
  
  
  .single-wid-product {
      margin-bottom: 31px;
      overflow: hidden;
  }
  .product-thumb {
      float: left;
      height: 90px;
      margin-right: 15px;
      width: 100px;
  }
  .single-wid-product h2 {
      font-size: 18px;
      margin-bottom: 12px;
  }
  .product-wid-rating {
      color: #ffc808;
      margin-bottom: 10px;
  }
  .product-wid-price ins {
      color: #1193cf;
      font-weight: 700;
      margin-right: 10px;
      text-decoration: none;
  }
  .single-wid-product h2 a {
      color: #222;
  }
  .single-wid-product h2 a:hover, .single-product h2 a:hover {
      color: #1193cf;
  }
  .wid-view-more {
      background: none repeat scroll 0 0 #1193cf;
      color: #fff;
      padding: 3px 15px;
      position: absolute;
      right: 10px;
      top: 3px;
  }
  .wid-view-more:hover {color: #fff;background-color: #222;text-decoration: none}
  .single-product-widget {
      position: relative;
  }
  .product-widget-area {
    padding-bottom: 150px;
    padding-top: 30px;
  }
  .product-widget-area .zigzag-bottom{background: #333}
  .footer-top-area .zigzag-bottom{background: #000}
  .footer-top-area {background: none repeat scroll 0 0 #333;
  color: #999;
  padding: 35px 0 180px;}
  
  
  .footer-bottom-area {background: #000;color: #fff}
  .footer-about-us span {
    color: #1193cf;
  }
  .footer-wid-title {
    font-family: raleway;
    font-size: 30px;
    font-weight: 100;color: #fff
  }
  
  .footer-about-us h2 {
    font-weight: 200;
  }
  .footer-menu ul {
      list-style: outside none none;
      margin: 0;
      padding: 0;
  }
  .footer-menu ul li {
      border-bottom: 1px dashed #555;
      padding: 5px 0;
  }
  .footer-menu a {
      display: block;
      padding: 5px 0;color: #999
  }
  
  
  .footer-social a {
    background: none repeat scroll 0 0 #1193cf;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-top: 5px;
    text-align: center;
    width: 40px;border: 1px solid #1193cf;
  }
  
  .footer-social a:hover {background-color: #222;border-color: #666}
  
  .footer-social {margin-top: 20px}
  
  
  .newsletter-form input[type="email"] {
      background: none repeat scroll 0 0 #fff;
      border: medium none;
      margin-bottom: 10px;
      padding: 10px;
      width: 100%;
  }
  .newsletter-form input[type="submit"] {
      background: none repeat scroll 0 0 #1193cf;
      border: medium none;
      color: #fff;
      display: inline-block;
      font-size: 18px;
      padding: 7px 20px;
      text-transform: uppercase;border: 1px solid #1193cf;
  }
  .newsletter-form input[type="submit"]:hover {background: #222;border-color: #666}
  .newsletter-form {
      margin-top: 25px;
  }
  a {color: #1193cf}
  a:hover, a:focus {color: #0737a0}
  .footer-bottom-area {
    background: none repeat scroll 0 0 #000;
    color: #fff;
    padding-bottom: 40px;
  }
  
  
  .slide-bulletz {
      bottom: 30px;
      left: 0;
      position: absolute;
      text-align: center;
      width: 100%;
      z-index: 99;
  }
  ol.slide-indicators {
  left: inherit;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  }
  ol.slide-indicators li {
  background: none repeat scroll 0 0 #222;
  border: medium none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  height: 10px;
  margin: 0 0 0 5px;
  width: 10px;
  }
  ol.slide-indicators li.active {
  background: none repeat scroll 0 0 #fff;
  height: 10px;
  margin: 0 0 0 5px;
  width: 10px;
  }
  
  
  .carousel.carousel-fade .item { transition: opacity 1s ease-in-out }
  .carousel.carousel-fade .active.left,
  .carousel.carousel-fade .active.right {
      left: 0;
      z-index: 2;
      opacity: 0;
      filter: alpha(opacity=0);
  }
  
  .footer-card-icon {
    font-size: 30px;
    text-align: right;
  }
  
  .copyright > p {
    margin: 10px 0 0;
  }
  
  .product-big-title-area {background: url(../img/crossword.png) repeat scroll 0 0 #1193cf}
  
  .product-bit-title h2 {
    font-family: raleway;
    font-size: 50px;
    font-weight: 200;
    margin: 0;
    padding: 50px 0;color: #fff;
  }
  
  .single-product-area .zigzag-bottom {background-color: #333333}
  
  .single-product-area {
    padding: 80px 0 130px;
  }
  
  
  
  
  
  .sidebar-title {
      color: #3dc6ab;
      font-size: 25px;
      margin-bottom: 30px;
      text-transform: uppercase;
  }
  .single-sidebar {
      margin-bottom: 50px;
  }
  input[type="text"], input[type="password"], input[type="email"], textarea {
      border: 1px solid #ddd;
      padding: 10px;
  }
  input[type="submit"], button[type=submit] {
      background: none repeat scroll 0 0 #4faaff;
      border: medium none;
      color: #fff;
      padding: 11px 20px;
      text-transform: uppercase;
  }
  input[type="submit"]:hover, button[type=submit]:hover {background-color: #222}
  .single-sidebar input[type="text"] {
      margin-bottom: 10px;
      width: 100%;
  }
  .thubmnail-recent {
      margin-bottom: 30px;
      overflow: hidden;
  }
  .recent-thumb {
      float: left;
      height: auto;
      margin-right: 15px;
      width: 63px;
  }
  .thubmnail-recent > h2 {
      font-size: 20px;
      margin-bottom: 10px;
  }
  .thubmnail-recent > h2 a {
      color: #222;
  }
  .product-sidebar-price > ins {
      color: #1193cf;
      font-weight: 700;
      margin-right: 10px;
      text-decoration: none;
  }
  .single-sidebar > ul {
      list-style: outside none none;
      margin: 0;
      padding: 0;
  }
  .single-sidebar li {
      border-bottom: 1px solid #f1f1f1;
      padding: 10px 0;
  }
  .single-sidebar a {
      display: block;
  }
  .product-breadcroumb {
      margin-bottom: 20px;
  }
  .product-breadcroumb > a {
      margin-right: 31px;
      position: relative;
  }
  .product-breadcroumb > a::before {
      content: "/";
      position: absolute;
      right: -20px;
      top: 2px;
  }
  .product-breadcroumb > a:last-child::before {
      display: none;
  }
  .product-main-img {
      margin-bottom: 20px;
  }
  .product-gallery {
      margin-bottom: 25px;
      margin-left: -15px;
      overflow: hidden;
  }
  .product-gallery img {
      height: auto;
      margin-left: 15px;
      width: 76px;
  }
  .product-name {
      font-size: 25px;
      margin-bottom: 20px;
  }
  .product-inner-price {
      margin-bottom: 25px;
  }
  .product-inner-price > ins {
      color: #1193cf;
      font-weight: 700;
      margin-right: 10px;
      text-decoration: none;
  }
  .quantity {
      float: left;
      margin-right: 15px;
  }
  .quantity input[type="number"] {
      border: 1px solid #1193cf;
      padding: 5px;
      width: 50px;
  }
  .add_to_cart_button {
      background: none repeat scroll 0 0 #1193cf;
      border: medium none;
      color: #fff;
      padding: 6px 25px;display: inline-block
  }
  .add_to_cart_button:hover {background-color: #222;color: #fff;text-decoration: none}
  form.cart {
      margin-bottom: 25px;
  }
  .product-inner-category {
      margin-bottom: 30px;
  }
  .product-tab {
      border-bottom: 1px solid #ddd;
      list-style: outside none none;
      margin: 0 0 30px;
      padding: 0;
      text-align: center;
  }
  .product-tab li {
      display: inline-block;
  }
  .product-tab li.active {
      background: none repeat scroll 0 0 #1193cf;
  }
  .product-tab li.active a {
      color: #fff;
  }
  .product-tab li a {
      color: #222;
      display: block;
      font-size: 16px;
      padding: 10px 30px;
  }
  .product-tab li a:hover {
      text-decoration: none;
  }
  .product-tab li a:focus {
      text-decoration: none;
  }
  .tab-content h2 {
      font-size: 20px;
  }
  .tab-content {
      margin-bottom: 30px;
  }
  .submit-review label {
      display: block;
  }
  .submit-review input[type="text"], .submit-review input[type="email"], .submit-review textarea {
      margin-bottom: 20px;
      width: 100%;
  }
  .rating-chooser {
      margin-bottom: 30px;
  }
  .rating-chooser p {
      font-weight: 700;
  }
  .rating-wrap-post {
      font-size: 20px;
  }
  
  .submit-review textarea {
      height: 105px;
  }
  
  .related-products-wrapper {
    margin-top: 30px;
  }
  .related-products-title {color: #3dc6ab;
  font-size: 25px;
  margin-bottom: 30px;
  text-transform: uppercase;}
  
  .related-products-wrapper .owl-nav {
    position: absolute;
    right: 0;
    top: -56px;
  }
  
  
  
  table.shop_table {
      border-bottom: 1px solid #ddd;
      border-right: 1px solid #ddd;
      margin-bottom: 50px;
      width: 100%;
  }
  table.shop_table th, table.shop_table td {
      border-left: 1px solid #ddd;
      border-top: 1px solid #ddd;
      padding: 15px;
      text-align: center;
  }
  table.shop_table th {
      background: none repeat scroll 0 0 #f4f4f4;
      font-size: 15px;
      text-transform: uppercase;
  }
  td.product-thumbnail img {
      height: auto;
      width: 70px;
  }
  td.product-name {
      font-size: 18px;
  }
  div.quantity input.plus, div.quantity input.minus {
      background: none repeat scroll 0 0 #1193cf;
      border: medium none;
      color: #fff;
      height: 25px;
      line-height: 15px;
      width: 25px;
  }
  td.product-quantity div.quantity {
      float: none;
      margin: 0;
  }
  td.actions div.coupon {
      float: left;
  }
  .cart-collaterals {
      overflow: hidden;
  }
  .cross-sells {
      float: left;
      margin-right: 3%;
      width: 57%;
  }
  .cart_totals {
      float: right;
      margin-bottom: 50px;
      width: 40%;
  }
  .cart-collaterals h2 {
      color: #1193cf;
      font-size: 25px;
      margin-bottom: 25px;
      text-transform: uppercase;
  }
  div.cart-collaterals ul.products {
      list-style: outside none none;
      margin: 0 0 0 -30px;
      padding: 0;
  }
  div.cart-collaterals ul.products li.product {
      float: left;
      margin-left: 30px;
      position: relative;
      width: 198px;
  }
  .cart_totals table {
      border-bottom: 1px solid #ddd;
      border-right: 1px solid #ddd;
      width: 100%;
  }
  .cart_totals table th, .cart_totals table td {
      border-left: 1px solid #ddd;
      border-top: 1px solid #ddd;
      padding: 10px;
  }
  .cart_totals table th {
      background: none repeat scroll 0 0 #f4f4f4;
  }
  .onsale {
  }
  div.cart-collaterals ul.products li.product .onsale {
      background: none repeat scroll 0 0 #1193cf;
      color: #fff;
      padding: 5px 10px;
      position: absolute;
      right: 0;
  }
  div.cart-collaterals ul.products li.product h3 {
      color: #333;
      font-size: 20px;
      margin-top: 15px;
  }
  div.cart-collaterals ul.products li.product .price {
      color: #333;
      display: block;
      margin-bottom: 10px;
      overflow: hidden;
  }
  .price > ins {
  }
  div.cart-collaterals ul.products li.product .price ins {
      color: #1193cf;
      font-weight: 700;
      margin-left: 10px;
      text-decoration: none;
  }
  
  
  
  .woocommerce-info {
      background: none repeat scroll 0 0 #f4f4f4;
      font-size: 18px;
      margin-bottom: 20px;
      padding: 15px;
  }
  .col2-set {
      margin-left: -30px;
      overflow: hidden;
  }
  .col-1, .col-2 {
      float: left;
      margin-left: 30px;
      width: 360px;
  }
  #customer_details label {
      display: block;
      margin: 0 0 5px;
  }
  #customer_details input[type="text"], #customer_details textarea, .shipping_calculator input[type=text] {
      margin-bottom: 10px;
      width: 100%;
  }
  #customer_details h3 {
      color: #1193cf;
      font-size: 20px;
      text-transform: uppercase;
  }
  .create-account {
      background: none repeat scroll 0 0 #f4f4f4;
      margin-bottom: 50px;
      padding: 15px;
  }
  #order_review_heading {
      color: #1193cf;
      font-size: 20px;
      text-transform: uppercase;
  }
  #payment ul.payment_methods {
      list-style: outside none none;
      margin: 0 0 30px;
      padding: 0;
  }
  #payment ul.payment_methods li {
      margin-bottom: 15px;
  }
  a.about_paypal {
      font-size: 12px;
      margin-left: 15px;
  }
  
  
  #customer_details select, .shipping_calculator select {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
  }
  
  
  table.shop_table td.product-remove a {
    display: inline-block;
    padding: 0 5px 2px;
    text-transform: uppercase;
  }
  
  
  table.shop_table td.product-remove a:hover {color: #fff;background: red;text-decoration: none}
  table.shop_table td.product-name a{color: #222;}
  table.shop_table td.product-name a:hover {color: #1193cf;text-decoration: none}
  div.quantity input.plus:hover, div.quantity input.minus:hover {background-color: #222}
  div.cart-collaterals ul.products li.product a:hover h3 {color: #1193cf}
  div.cart-collaterals ul.products li.product a:hover {text-decoration: none}
  
  div.cart-collaterals ul.products li.product:hover .add_to_cart_button{background-color: #222}
  
  
  .cart-collaterals .shipping_calculator {
    float: right;
    width: 40%;
  }
  
  
  #login-form-wrap, #coupon-collapse-wrap {
      background: none repeat scroll 0 0 #f4f4f4;
      margin-bottom: 30px;
      padding: 25px;
  }
  #login-form-wrap label {
      display: block;
      margin-bottom: 5px;
  }
  #login-form-wrap input[type="text"], #login-form-wrap input[type="password"] {
      margin-bottom: 10px;
      width: 250px;
  }
  #login-form-wrap input[type="submit"] {
      margin-bottom: 15px;
  }
  
  
  
  .single-shop-product h2 {
      font-size: 20px;
      margin: 10px 0;
  }
  .product-option-shop {
      margin-top: 15px;
  }
  
  .single-shop-product {margin-bottom: 50px}
  
  .pagination > li > a, .pagination > li > span {
    color: #1193cf;
  }
  .single-shop-product h2 {
      font-size: 18px;
      margin: 10px 0;
  }
  .product-option-shop {
      margin-top: 15px;
  }
  
  .single-shop-product {margin-bottom: 50px}
  
  .frase-promo{
      font-size: 20px;
      font-kerning: 2;
      font-style: italic;
      color: gray;
  }
  .no-disponible {
      background-color: red;
      border: medium none;
      color: #fff;
      padding: 6px 25px;
      display: inline-block
  }
  .no-disponible:hover {
      background-color: #cc0808;
      color: #fff;
      text-decoration: none
  }
  div.cart-collaterals ul.products li.product:hover .no-disponible{
      background-color: #cc0808
  }
  .btn-success{
      background-color: #1193cf;
  }
  .btn-success:hover{
      background-color: #0b5ba5;
  }
  .has-success .input-group-addon{
      color: #1193cf;
  }
  .has-success .input-group-addon{
      background-color: #e4f4ab;
      border-color: #1193cf;
  }
  .has-success .form-control{
      border-color: #1193cf;
  }
  .single-shop-product img:hover, .product-thumb:hover{
      -webkit-filter: hue-rotate(45deg);
  }
  footer span {
      font-size: 14px;
  }
  a{
      text-decoration: none;
  }
  .padd-y-b-10 {
      padding-bottom: 20px;
  }
  
  product-big-title-area .white {
      color: white;
  }
  